{% extends 'lesson/root.html' %}

{% block body %}
    <h1>
        Lesson Create Page
    </h1>
    <form action="{% url 'lesson:create' %}" method="POST">
        {% csrf_token %}
        Lesson Name: <input type="text" name="lesson_name">
        <button type="submit">
            Add Lesson
        </button>
    </form>
    {% if error %}
        <h4>            
            Error! {{ error }} <br>
        </h4>
    {% endif %}
    <a href="{% url 'lesson:index' %}">
        Back to lesson list
    </a>
{% endblock body %}