<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Lesson Index Page
    </h1>
    <h3>
        Showing {{ lessons|length }} lessons:
    </h3>
    <ul>
        {% for lesson in lessons %}
            <a href="{% url 'lesson:view' lesson %}">
                <li>
                    {{ lesson|capfirst|linebreaks }}
                </li>
            </a>
        {% endfor %}
    </ul>
    <a href="{% url 'lesson:create' %}">
        Create New Lesson
    </a>
    <h5>
        Another example of filter that takes in argument:
        {{ 2|add:7 }}
    </h5>
</body>
</html>