<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Lesson2 Index Page
    </h1>

    <h3>
        All Lessons
    </h3>
    <ol>
        {% for lesson in lessons %}
        <li>
            <ul>
                <li>ID: {{ lesson.id }}</li>
                <li>{{ lesson.title|capfirst }} Lesson</li>
                <li>
                    Students:
                    {% for student in lesson.students.all %}
                        {{ student.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        -
                    {% endfor %}
                </li>
            </ul>
        </li><br>
        {% empty %}
            No lessons found.
        {% endfor %}
    </ol>

    <h3>
        All Students
    </h3>
    <ul>
        {% for student in students %}
        <li>
            {{ student.name }}
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'lesson2:create_student' %}">
        Register student
    </a>
</body>
</html>